.list a {
  display: block;
  width: 9.33333333rem;
  height: 2.78666667rem;
  position: relative;
  margin: 0 auto;
}
.list a img {
  width: 2.53333333rem;
  height: 2.53333333rem;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
.list a span {
  position: absolute;
  top: 0.4rem;
  left: 3rem;
}
.list a p {
  position: absolute;
  left: 3rem;
  bottom: 0.42666667rem;
}
